.Calculadora {
    height: 350px;
    width: 265px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    /* grid-template-rows: 1fr 48px 48px 48px 48px 48px; */
    overflow: hidden;
    box-shadow: 1px 2px 30px rgba(128, 128, 128, 0.671);
}
