body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: rgb(122, 171, 181);
  background: linear-gradient(
    90deg,
    rgba(122, 171, 181, 1) 0%,
    rgba(208, 205, 114, 0.8463760504201681) 35%,
    rgba(151, 183, 190, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
